p {
	font-style: bold;
	font-size: 40px;
	color: white;
	text-align: center;
}
body {
	background-image: url("https://thumbs.gfycat.com/AltruisticHospitableFanworms-size_restricted.gif");
	background-size: cover;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
	cursor: pointer;
}