h1 {
	font-family: 'SFPixelateRegular' ;
	font-size: 100px;
	color: white;
	text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
p{
	font-family: 'SFPixelateRegular' ;
	font-size: 25px;
	color: white;
	text-align: center;
}
body {
	background-image: url("https://i.pinimg.com/originals/81/0d/7f/810d7f716a950a63a9c0dba6aacb1a73.gif");
	background-size: cover;
}
h2{
	font-family: 'SFPixelateRegular' ;
	font-size: 15px;
	color: white;
	text-align: center;
	
}