h1 {
	font-family: 'SFPixelateRegular' ;
	font-size: 35px;
	color: orange;
	text-align: center;
}
h2 {
	font-family:'SFPixelateRegular' ;
	font-size: 25px;
	color: purple;
	text-align: center;
}
h3 {
	font-family:'SFPixelateRegular' ;
	font-size: 15px;
	color: red;
	text-align: center;
}

h4 {
  font-family:'SFPixelateRegular' ;
  font-size: 50px;
  color: purple;
  text-align: center;
}

h5 {
  font-family:'SFPixelateRegular' ;
  font-size: 50px;
  color: orange;
  text-align: center;
}
.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #ff4747;
    font-size: 60px;
    font-family: 'Righteous', cursive;
    letter-spacing: 7px;
}
body {
	cursor: url(https://img.pngio.com/free-png-download-wally-waving-goodbye-clipart-png-wheres-waldo-waldo-transparent-background-880_635.png),auto;
	background-image: url("https://mefeld.files.wordpress.com/2017/07/wheres-waldo-copy.jpg");
	background-size: cover;
}
