h1 {
	font-family: 'SFPixelateRegular' ;
	font-size: 35px;
	color: white;
	text-align: center;
}
h2 {
	font-family:'SFPixelateRegular' ;
	font-size: 25px;
	color: white;
	text-align: center;
}
p {
	font-family:'SFPixelateRegular' ;
	font-size: 20px;
	color: white;
	text-align: center;
}
body {
	background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2a1ef428-bd01-4eb1-b6d1-1538b50e9c41/d8vcy45-331b2153-0eb4-4a4d-b44e-58e14fede80d.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMmExZWY0MjgtYmQwMS00ZWIxLWI2ZDEtMTUzOGI1MGU5YzQxXC9kOHZjeTQ1LTMzMWIyMTUzLTBlYjQtNGE0ZC1iNDRlLTU4ZTE0ZmVkZTgwZC5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.71HKuOELg7ViwXOGX-u_liHZ32t7znqxdY70Nn3j7HE");
	background-size: cover;
}

.object {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:5%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 20%;
  /*
  position: relative;
  animation-name: leaves;
  animation-duration: 4s;
  animation-iteration-count: infinite; */
}

.fire{}

img {
	cursor: pointer;

}

@keyframes fire {
  0%   { left:550px; top:0px;}
  25%  { left:100px; top:0px;}
  50%  { left:-400px; top:0px;}
  75%  { left:100px; top:0px;}
  100% { left:550px; top:0px;}
}

@keyframes leaves {
  0%   { left:-400px; top:0px;}
  25%  { left:100px; top:0px;}
  50%  { left:550px; top:0px;}
  75%  { left:100px; top:0px;}
  100% { left:-400px; top:0px;}
}

.leafmov {
  width: 20px;
  height: 20px;
  position: relative;
  animation-name: leaves;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.firemov {
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
  animation-name: fire;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

div {
	width:1200px;
}

